---
import _DEFAULT from "../constants";
import Base from "../layouts/Base.astro";

const contacts = _DEFAULT.contacts
---

<Base>
  <div class="flex max-w-screen-md flex-col mx-auto justify-center prose">
    <h1 class="text-center w-full">{contacts.headline}</h1>

    <div>
      <ul class="inline-flex flex-col justify-center w-full">
        <li>
          <span>{contacts.company.name.title}</span>
          <h3>{contacts.company.name.name}</h3>
        </li>
        <li>
          <span>{contacts.company.phone.title}</span>
          <a href={`tel:${contacts.company.phone.number}`}>{contacts.company.phone.number}</a>
        </li>
        <li>
          <span>{contacts.company.address.title}</span>
          <address>
            {contacts.company.address.address}
          </address>
        </li>
      </ul>
    </div>
  </div>
</Base>
